.Top h1, .Top p{
    margin-bottom: 15px;
}

.Body{
    margin-top: 20px;
}

.Botoom{
    margin-top: 25px;
}

.Body img{
    width: 40%;
}

.Spinner{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader {
    margin-top: 20px;
    position: fixed;
    height: 100%;
    width: 100%;
}

