.Container {
    width: 100%;
}

.Line {
    width: 95%;
    margin-left: 0;
}

.Task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 16px 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);

}

.Task:hover {
    cursor: pointer;
    background-color: #dddddd;
    color: #000000;
}

.Task .Icon {
    margin-right: 5px;
    color: rgb(120, 120, 120);
    cursor: pointer;

}

.Task .Delete {
    margin-right: 0;
    font-size: 1.2em;
    color: red;
}

.Task h1 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
    padding-left: 5px;
    width: 85%;
    text-align: start;

}

.Task .Star {
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
    color: #0275d8;
    /*padding: 3px;*/
    /*font-size: 0.7rem;*/
}

.Task h1.Completed {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: rgb(120, 120, 120);


}