.SignUp {
    margin: 60px auto;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.Submit{
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.TermsAndPolicy{
    margin-top: 15px;
    font-size: 14px ;
    color: rgb(210, 208, 213);
}

.TermsAndPolicy span{
    text-decoration: underline;
}

.Member{
    margin-top: 15px;
    font-size: 14px ;
}

.Member span{
    color: rgb(118, 110, 230);
}


.Title{
    padding-left: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    font-family: 'Muli', sans-serif;
}

.SignIn{
    color: rgb(118, 110, 230);
}

.Or{
    color: rgb(210, 208, 213);
}
.Errors{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 4px;
    border: 1px solid rgb(67, 100, 247);
    background-color: rgb(67, 100, 247, 0.3);
}

.Errors h5{
    font-weight: 400;
    margin: 0;
}

@media (min-width: 600px) {
    .SignUp {
        width: 500px;
    }
}