.List{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 25px 10%;
    box-sizing: border-box;

}

.Notebook{
    padding: 50px 10px;
    padding-bottom: 15px;
    background: url('../../assets/images/notebook.png');
    background-size: cover;
    width: 45%;
    height: 100%;
}


.Header{
    margin-bottom: 15px;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
    padding-top: 15px;
}

.Header .Top{
    display: flex;
    align-items: center;
}

.Header .Dropdown {
    background-color: rgba(200, 200, 200, 0.3);
    padding: 3px 5px;
    padding-bottom: 8px;
    line-height: 0.7;
    margin-bottom: 4px;
}



.Header h1{
    font-size: 2rem;
    padding-right: 10px ;
}

.Header h5{
    color: rgb(60, 60, 60);
    font-size: 0.7rem;

}

.Tasks{
    margin-bottom: 20px;
    width: 100%;
    max-height: calc(100% - 160px);
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
}

.AddTask{
    width: 100%;
    padding: 0px 25px;
}

.Icon{
    width: 25px;
    margin-right: 2px;
}

.DropdownItem{
    display: flex;
}

.Top .DropdownMenu{
    padding: 2px 0;
}

.DropdownMenu button{
    padding-left: 10px;
}

.DropdownMenu hr{
    margin: 4px 5px;
}

@media only screen and (max-width: 1570px) {
    .List {
        padding: 25px 5%;
    }
}

@media only screen and (max-width: 1100px) {
    .Notebook{
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .List{
        display: block;
        overflow: auto;
        height: 100%;

    }
    .Notebook{
        margin: 0 auto;
        width: calc(577px * 0.9);
        height: 80%;
    }
}


@media only screen and (max-width: 600px) {
    .Notebook{
        width: calc(577px * 0.7);
    }
}
@media only screen and (max-width: 440px) {
    .Notebook{
        width: calc(577px * 0.6);
    }
}
@media only screen and (max-width: 376px) {
    .Notebook{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-height: 400px) {
.List{
  height: 100vh;
}
}