.List{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 25px 7%;
    box-sizing: border-box;

}

.Notebook{
    padding: 50px 10px;
    padding-bottom: 15px;
    background: url('../../assets/images/notebook.png');
    background-size: cover;
    width: 45%;
    height: 100%;
}


.Header{
    margin-bottom: 15px;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
    padding-top: 15px;
}

.Header .Top{
    display: flex;
    align-items: center;
}

.Header .Top button{
    padding: 5px;
    padding-bottom: 12px;
    line-height: 0.7;
}

.Header h1{
    font-size: 2rem;
    padding-right: 10px ;
}

.Header h5{
    color: rgb(60, 60, 60);
    font-size: 0.7rem;

}

.Tasks{
    margin-bottom: 20px;
    width: 100%;
    max-height: 70%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
}

.AddTask{
    width: 100%;
    padding: 0px 25px;
}

.Icon{
    margin-right: 2px;
}