.List{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 25px 7%;
    box-sizing: border-box;

}

.Notebook{
    padding: 50px 10px;
    padding-bottom: 15px;
    background: url('../../assets/images/notebook.png');
    background-size: cover;
    width: 45%;
    height: 100%;
}


.Header{
    margin-bottom: 15px;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
    padding-top: 15px;
}

.Header .Top{
    display: flex;
    align-items: center;
}

.Header .Dropdown {
    background-color: rgba(200, 200, 200, 0.3);
    padding: 3px 5px;
    padding-bottom: 8px;
    line-height: 0.7;
    margin-bottom: 4px;
}



.Header h1{
    font-size: 2rem;
    padding-right: 10px ;
}

.Header h5{
    color: rgb(60, 60, 60);
    font-size: 0.7rem;

}

.Tasks{
    margin-bottom: 20px;
    width: 100%;
    max-height: 70%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
}

.AddTask{
    width: 100%;
    padding: 0px 25px;
}

.Icon{
    width: 25px;
    margin-right: 2px;
}

.DropdownItem{
    display: flex;
}

.Top .DropdownMenu{
    padding: 2px 0;
}

.DropdownMenu button{
    padding-left: 10px;
}

.DropdownMenu hr{
    margin: 4px 5px;
}

