.List{
    display: flex;
    justify-content: center;
    height: 87%;
    width: 85%;
    margin: auto;
}

.Notebook{
    padding: 70px 10px;
    padding-bottom: 50px;
    background: url('../../assets/images/notebook.png');
    background-size: cover;
    box-sizing: border-box;
    /*min-width: 45%;*/
    /*max-width: 45%;*/
    width: 45%;
    height: 89%;
}

.Note{
    padding: 70px 100px;
    padding-bottom: 40px;
    background: url('../../assets/images/note2.png');
    background-size: cover;
    box-sizing: border-box;
    width: 478px;
    height: 339px;
}

.Header{
    margin-bottom: 25px;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
    padding-top: 15px;
}

.Header h1{
    font-size: 2rem;
}

.Header h5{
    color: rgb(60, 60, 60);
    font-size: 0.7rem;

}

.Tasks{
    margin-bottom: 10px;
    width: 100%;
    max-height: 78%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 0px 25px;
}

.AddTask{
    /*margin-top: 25px;*/
    width: 100%;
    padding: 0px 25px;
}