.Toolbar{
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(45, 121, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    z-index: 90;
}



.Logo {
    height: 80%;
}


.Title h2 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0rem;
    padding-left: 85px;
    color: white;
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }

    .Toolbar{
        padding:0 10px;
    }

    .Title h2 {
        padding-left: 0;
    }
}