.NavigationItems {
    position: fixed;
    top: 0;
    height: 55px;
    right: 0%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    align-self: end;
}


.ProfileDropdown button{
    color: white;
    margin-right: 10px;
}




.ProfileDropdown button:hover,
.ProfileDropdown button:focus{
    color:  rgb(20, 63, 104);
    background: white;
}

.Profile{
    display: flex;
    flex-direction: column;
}

.Profile h3{
    font-size: 1.2rem;
}

.Profile h5{
    color: #666666;
    font-size: 0.7rem;
}



