.DropdownMenu div.dropdown-menu.show {
    width: 150px !important;
    transform: translate3d(0, 0, 0) !important;
    position: fixed !important;
    top: 55px !important;
    overflow: hidden;
    left: calc(100% - 161px)!important;
    /*right: 0;*/
    /*left: 90% !important;*/
    /*top*/

}

.DropdownMenu button.dropdown-item {
    padding: 10px;
    color: rgb(20, 63, 104);
    font-weight: bold;
    text-align: center;

}

.DropdownMenu .dropdown-divider {
    margin: 0;
}
.DropdownMenu .dropdown-menu.show {
    padding: 0;
}


.DropdownMenu button.dropdown-item:hover,
.DropdownMenu button.dropdown-item:focus{
    color:  white;
    background: rgb(20, 63, 104);
}
