
.Note {
    background: url('../../../assets/images/board.png');
    background-size: cover;
    box-sizing: border-box;
    width: 488px;
    height: 330px;
    margin-top: 20px;
    padding: 10px 35px;
}

.Content {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.Note .Title {
    width: 341px;
    font-size: 1.1rem;
    text-align: start;
    font-weight: bold;
    /*text-shadow: 4px 4px 7px #DDDDDD;*/
    cursor: pointer;
}

.Note .Completed{
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: rgb(200, 200, 200);
}


.Note textarea {
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 5%;
    padding: 5px;
    font-family: 'Handlee', cursive;

    border: none;
    resize: none;
    outline: none;

}

.Note textarea::placeholder {
    color: #eee;
}

.Title {


}

.TextAreaNote {
    color: #eee;
    font-weight: bold;
    font-size: 1rem;
}
