
.Note {
    background: url('../../../assets/images/board.png');
    background-size: cover;
    box-sizing: border-box;
    width: 642px;
    height: 436px;
    margin-top: 70px;
    padding: 10px 35px;
}

.Content {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.Note .Title {
    width: 341px;
    font-size: 1.1rem;
    text-align: start;
    font-weight: bold;
    /*text-shadow: 4px 4px 7px #DDDDDD;*/
    cursor: pointer;
}

.Note .Completed{
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: rgb(200, 200, 200);
}


.Note textarea {
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 5%;
    padding: 5px;
    font-family: 'Handlee', cursive;

    border: none;
    resize: none;
    outline: none;

}

.Note textarea::placeholder {
    color: #eee;
}

.Title {


}

.TextAreaNote {
    color: #eee;
    font-weight: bold;
    font-size: 1rem;
}


@media only screen and (max-width: 1570px) {
    .Note {
        width: 577px;
        height: 392px;
    }
}

@media only screen and (max-width: 1250px) {
    .Note {
        width: calc(577px * 0.9);
        height: calc(392px * 0.9);
    }
}

@media only screen and (max-width: 1125px) {
    .Note {
        width: calc(577px * 0.8);
        height: calc(392px * 0.8);
    }
}

@media only screen and (max-width: 1024px) {
    .Note{
        margin: 10px auto;
        width: calc(577px * 0.9);
        height: calc(392px * 0.9);
    }
}

@media only screen and (max-width: 600px) {
    .Note{
        width: calc(577px * 0.7);
        height: calc(392px * 0.7);

    }
}

@media only screen and (max-width: 440px) {
    .Note{
        width: calc(577px * 0.6);
        height: calc(392px * 0.6);

    }
}

@media only screen and (max-width: 400px) {
    .Note{
        width: calc(577px * 0.55);
        height: calc(392px * 0.55);

    }
}

@media only screen and (max-width: 350px) {
    .Note{
        width: calc(577px * 0.4);
        height: calc(392px * 0.4);

    }
}