.Task input{
    border: none;
    background: none ;
    padding: 0 5px;
    font-size: 1rem;
}


.Task input:focus{
    outline: none;
}


.Task{
    width: 100%;
    display: flex;
    align-items: center;
}

.Task .Icon{
    margin-right: 6px;
    color: rgb(45, 121, 208);
}

.Line{
    width: 95%;
    margin-left: 0;
    margin-top: 0;
}


