.Task input{
    border: none;
    background: none ;
    padding: 0 5px;
    font-size: 1rem;
    width: 85%;
}


.Task input:focus{
    outline: none;
}


.Task{
    width: 100%;
    display: flex;
    align-items: center;
}

.Task .Icon{
    margin-right: 6px;
    color: #0275d8;
    cursor: pointer ;
}

.Line{
    width: 95%;
    margin-left: 0;
    margin-top: 0;
}

.Task .AddButton{
    padding: 3px;
    font-size: 0.7rem;
}


