.Task input{
    border: none;
    background: none ;
    padding: 0 5px;
    font-size: 1rem;
    width: 85%;
}


.Task input:focus{
    outline: none;
}


.Task{
    width: 100%;
    /*height: 54px;*/
    display: flex;
    align-items: center;
}

.Task .Icon, .Task .IconDisabled{
    margin-right: 6px;
    color: #0275d8;
    cursor: pointer ;
}

/*.Task .IconDisabled{*/
    /*color: white;*/
    /*background-color: rgb(161, 165, 170);*/
/*}*/

.Line{
    width: 95%;
    margin-left: 0;
    margin-top: 0;
}

.Task .AddButton, .Task .AddButton:disabled{
    color: #0275d8;
    border-color: #0275d8;
    background-color: white;
    padding: 3px;
    font-weight: bold;
    font-size: 0.9rem;
}

.Task .AddButton:hover{
    background-color: #0275d8;
}


