.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: flex;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(91, 99, 102);
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}