
.Row {
    cursor: pointer;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Row h4{
    text-align: start;
    width: 134px;
    margin-bottom: 0px;
    font-size: 1.1rem;

}

.Row p{
    text-align: start;
    width: 220px;
    margin-bottom: 0px;
    color: black;
}

.Row span {
    padding-right: 5%;
    font-weight: bold;
    margin-bottom: 0px;
}


.RowContainer{
    width: 95%;
    border-bottom: 1px solid rgba(200,200,200,0.5) ;
    margin-left: 5%;
    margin-top: 0;

}

.RowContainer:hover{
    padding-left: 5%;
    width: 100%;
    margin-left: 0;
    background-color: #eeeeee;
}

.LastRowContainer{
    width: 95%;
    margin-left: 5%;
    margin-top: 0;
}

.LastRowContainer:hover{
    padding-left: 5%;
    width: 100%;
    margin-left: 0;
    background-color: #eeeeee;
}
