.Auth {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    background: url('../../assets/images/auth.jpg');
    background-size: cover;
    overflow: auto;
}

.AuthForm {
    margin: 0px auto;
    margin-left: 10px;
    width: 550px;
    height: auto;
    padding: 40px;
}

.Submit {
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    /*background: #6FB1FC ;*/

    background: rgb(20, 63, 104);  /* fallback for old browsers */

}

.Submit button:focus {
    outline: none;

}

.SubmitDisabled {
    cursor: not-allowed;
    color: black;

}

.TermsAndPolicy {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(160, 160, 160);
}

.TermsAndPolicy span {
    text-decoration: underline;
}

.Member {
    margin-top: 15px;
    font-size: 14px;
}

.Member span {
    color: rgb(118, 110, 230);
}


.Title {
    padding-left: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
}

.Title h2 {
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 2.8rem;
}

.SignIn {
    color: rgb(118, 110, 230);
}

.Or {
    color: rgb(210, 208, 213);
}

.Errors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 4px;
    border: 1px solid rgb(67, 100, 247);
    background-color: rgba(67, 100, 247, 0.3);
}

.Errors h5 {
    font-weight: 400;
    margin: 0;
}


@media only screen and (max-width: 580px) {
    .AuthForm {
        width: 90%;
        padding: 0;

    }
}

@media only screen and (max-height: 400px) {
    .Auth{
        background-size: 300%;
    }
}
/*@media  (min-width: 600px) {*/
/*.SignUp {*/
/*width: 500px;*/
/*}*/
/*}*/
