.App {
  background-color: #e9ecef;

  text-align: center;
  height: 100%;
  width: 100%;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Muli', sans-serif; */
}

html{
  height: 100%;
  width: 100%;
}

body{
  overflow: hidden;
  height: 100%;
  width: 100%;
}



